<html>
<style>
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 50vh;
}
</style>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<div>
		<center>
			<h2 id="scramble"></h2>
		</center>
	</div>
	<div class="center-screen">
		<center>
			<h1 style="font-size: 400%;" id="result">0</h1>
		</center>
	</div>
	<div >
		<center>
			<button>Success</button>
		</center>
	</div>
</body>

<script>
function httpGet(theUrl) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

function newScramble() {
	scramble = httpGet("/genNew");
	var s = document.getElementById("scramble");
	s.innerHTML = "<h2 id='scramble'>" + scramble + "</h2>";
	console.log(document.getElementById("scramble").value);
	console.log(scramble);
}

newScramble();
window.timerStarted = false;
window.startTime = 0;

function setTime(timeVal){
	var r = document.getElementById("result");
    	r.innerHTML = '<h1 style="font-size: 400%;" id="result">' + timeVal + '</h1>';
}

function submitTime(timeVal){
	var str = timeVal.toString();
	var n = str.replace(".", "E");
	console.log(n);
	httpGet("/complete/" + n);
}

document.body.onkeyup = function(e){
    if(e.keyCode == 32){
    	if (window.timerStarted){
    		window.timerStarted = false;
    		var endTime = (performance.now() - window.startTime) / 1000;
    		setTime((endTime - 0.005).toFixed(2));
    		submitTime(endTime.toFixed(5));
    		newScramble();
    	} else {
    		console.log("Started timer");
    		window.timerStarted = true;
    		window.startTime = performance.now();
    	}
    }
}

function loading(){
	if (window.timerStarted){
		var currentTime = (performance.now() - window.startTime) / 1000;
    	var r = document.getElementById("result");
    	var thisVal = (currentTime - .5).toFixed(0);
    	if (thisVal < 1){
    		setTime(0);
    	} else{
    		setTime(thisVal);
    }
	}
}

setTime("0.00");
setInterval(function(){loading();}, 200);
</script>
 </html>
